<div class="container">
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %>
        prohibited this recipe from being saved:
      </h2>
      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for [@user, @recipe], html: {class: 'form-horizontal'} do |f| %>
  <fieldset>
    <legend>
      <h2>Edit recipe</h2>
    </legend>

    <div class="form-group">
      <%= f.label :title, "Title:",class: "col-sm-2  control-label" %>
      <div class= "col-sm-6 col-md-6">
        <%= f.text_field :title, class: "form-control" %>
      </div>
     </div>

    <div class="form-group">
      <%= f.label :content,  "Content:",class: "col-sm-2  control-label" %>
        <div class= "col-sm-6 col-md-6">
          <%= f.text_area :content, class:"form-control", rows: 20 %>
        </div>
    </div>

    <%= f.fields_for :ingredients do |ingredient| %>
      <div class="form-group">
        <%= ingredient.label :name, "Ingredient #{ingredient.index + 1} ", class: "col-sm-2 control-label" %>
        <div class= "col-sm-3 col-md-3">
          <%= ingredient.text_field :name, class: "form-control", placeholder: "Enter a new ingredient here." %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <%= f.submit "Edit recipe", class: "btn btn-default" %>
      </div>
    </div>

    <% end %>
  </fieldset>
</div>
